<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <title>Groupie Tracker | Artists</title>
  </head>
  <body>
    <h1>Groopie Tracker</h1>

    <div class="container">
      {{range $i, $ind := .Artists}}
    {{if and (ge .CreationDate $.MinCD) (le .CreationDate $.MaxCD)}}
        {{if and (ge .FirstAlbum $.MinFA) (le .FirstAlbum $.MaxFA)}}
            {{if or (eq (len .Members) $.M1) (eq (len .Members) $.M2) (eq (len .Members) $.M3) (eq (len .Members) $.M4) (eq (len .Members) $.M5) (eq (len .Members) $.M6) (eq (len .Members) $.M7) (eq (len .Members) $.M8)}}
            {{ $isFound := false }}
                {{with index $.Loc.Locations $i}}
                        {{range .Locations}}
                        {{if eq $.Location .}}
                        {{ $isFound = true }}
                        {{end}}
                            {{end}}
                        {{end}}
                        {{if or ($isFound) (eq (len $.Location) 0)}}
                            <div class="wrapper">
                                <h1>{{.FirstAlbum}}</h1>
                                <img src="{{.Image}}" />
                                <h2>{{.Name}}</h2>
                                <p>{{range .Members}} {{.}} {{end}}</p>
                                <form action="/artist/{{.Id}}">
                                    <button role="button">More infos</button>
                                </form>
                            </div>
                        {{end}}
            {{end}}
        {{end}}
    {{end}}
{{end}}

    </div>
  </body>
</html>